.container {
  width: 16rem;
  background-color: #939393;
  height: 92vh;
  box-shadow: 2px 4px 10px #868686;
}

.navbar {
  overflow: hidden;
  width: 100%;
}

.ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  list-style: none;
  padding: 0.5rem;
  transition: all 0.5s;
}

.item:hover {
  padding-left: 2rem;
  background-color: #c4c4c4;
}

.link {
  text-decoration: none;
  color: #000;
}